# WORKING WTH DATES AND TIMES IN PYTHON

Çıktıları birbirinden ayırmak için ayrac() isimli bir fonksiyon yazalım.

In [1]:
def ayrac():
    print("\n*****\n")

Kullancağımız dosyaları içe aktaralım

In [2]:
import pandas as pd

capital_onebike = pd.read_csv("capital-onebike.csv")
print(capital_onebike.head(3))

            Start date             End date  Start station number  \
0  2017-10-01 15:23:25  2017-10-01 15:26:26                 31038
1  2017-10-01 15:42:57  2017-10-01 17:49:59                 31036
2  2017-10-02 06:37:10  2017-10-02 06:42:53                 31036

                   Start station  End station number  \
0           Glebe Rd & 11th St N               31036
1  George Mason Dr & Wilson Blvd               31036
2  George Mason Dr & Wilson Blvd               31037

                            End station Bike number Member type
0         George Mason Dr & Wilson Blvd      W20529      Member
1         George Mason Dr & Wilson Blvd      W20529      Casual
2  Ballston Metro / N Stuart & 9th St N      W20529      Member

# Dates and Times in Pandas

+ Reading date and time data in pandas (Pandas'ta tarih ve saat verilerini okuma)


+ Summarizing datetime data in pandas (Pandas'ta datetime verilerini özetleme)

## < Reading Date and Time in Pandas >

Aşağıdaki kod bloklarında Pandas kullanarak tarih ve zaman nesneleriyle uğraşacağız. Pandas'ta da aynı datetime modülü gibi date-time nesneleriyle uğraşmamızı sağlayacak işlevler vardır. Bunlar başlıca: 


+ to_datetime: Belirli bir formatta yazılmış tarih/saat verilerini datetime nesnelerine dönüştürür.

Tutorial = https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

+ date_range: Belirli bir tarih aralığında eşit aralıklarla tarih/saat verileri oluşturur.

Tutorial = https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html

+ Timestamp: Tarih/saat verisini içeren bir nesne oluşturur.

Tutorial = https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html

+ DatetimeIndex: datetime nesnelerinden oluşan bir dizin oluşturur.

Tutorial = https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html

+ strftime: datetime nesnelerinden oluşan bir diziyi belirli bir formata göre biçimlendirir.

Tutorial = https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.strftime.html

+ pd.Timestamp.now: Şu anki zamanı datetime nesnesi olarak verir.

Tutorial = https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.now.html

+ pd.Timestamp.utcnow: Şu anki zamanı UTC (Koordinasyonlu Evrensel Saat) olarak datetime nesnesi olarak verir.

Tutorial = https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.utcnow.html

In [3]:
import pandas as pd 

capital_onebike.head(3)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member

+ capital_onebike veri setinin ilk 3 satırını döndürdük.

In [4]:
print(capital_onebike["Start date"])
ayrac()
print(capital_onebike["End date"])

0      2017-10-01 15:23:25
1      2017-10-01 15:42:57
2      2017-10-02 06:37:10
3      2017-10-02 08:56:45
4      2017-10-02 18:23:48
              ...
285    2017-12-29 14:32:55
286    2017-12-29 15:08:26
287    2017-12-29 20:33:34
288    2017-12-30 13:51:03
289    2017-12-30 15:09:03
Name: Start date, Length: 290, dtype: object

*****

0      2017-10-01 15:26:26
1      2017-10-01 17:49:59
2      2017-10-02 06:42:53
3      2017-10-02 09:18:03
4      2017-10-02 18:45:05
              ...
285    2017-12-29 14:43:46
286    2017-12-29 15:18:51
287    2017-12-29 20:38:13
288    2017-12-30 13:54:33
289    2017-12-30 15:19:13
Name: End date, Length: 290, dtype: object

+ capital_onebike veri setindeki **Start date** ve **End date** sütunlarını döndürdük.

In [5]:
print(capital_onebike.iloc[2])

Start date                               2017-10-02 06:37:10
End date                                 2017-10-02 06:42:53
Start station number                                   31036
Start station                  George Mason Dr & Wilson Blvd
End station number                                     31037
End station             Ballston Metro / N Stuart & 9th St N
Bike number                                           W20529
Member type                                           Member
Name: 2, dtype: object

+ 2 numaralı satırı **iloc[ ]** işlevi ile döndürdük.

In [6]:
rides = pd.read_csv("capital-onebike.csv", 
                    parse_dates = ["Start date", "End date"])

rides.head(3)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member

+ capital-onebike veri setindeki **Start date** ve **End date** sütunları ilk içe aktarma işleminde string veri tipindeydi. Ancak **parse_dates** parametresine bu iki sütunun adını girince Pandas, bu sütunları bir datetime nesnesi olarak ele aldı.

In [7]:
print(type(capital_onebike["Start date"][0]))
ayrac()
print(type(rides["Start date"][0]))

<class 'str'>

*****

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

+ Yukarıdaki kod bloğunun açıklamasının, sağlaması. capital_onebike'taki **Start date** ve **End date** sütunlarındaki değerler **str** iken, rides'takiler Pandas'ın **datetime** nesnesi oldu.

In [8]:
capital_onebike["Start date"] = pd.to_datetime(capital_onebike["Start date"],
                                              format = "%Y-%m-%d %H:%M:%S")
print(capital_onebike["Start date"])
ayrac()
print(type(capital_onebike["Start date"][0]))

0     2017-10-01 15:23:25
1     2017-10-01 15:42:57
2     2017-10-02 06:37:10
3     2017-10-02 08:56:45
4     2017-10-02 18:23:48
              ...
285   2017-12-29 14:32:55
286   2017-12-29 15:08:26
287   2017-12-29 20:33:34
288   2017-12-30 13:51:03
289   2017-12-30 15:09:03
Name: Start date, Length: 290, dtype: datetime64[ns]

*****

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

+ Ya da bu kod bloğunda olduğu gibi **pd.to_datetime()** işlevini kullanarak sütundaki string veri tipindeki verileri datetime nesnesine dönüştürebilir ve **format** parametresine de yazılmasını istediğimiz formatı ekleyebiliriz.

In [9]:
rides["Duration"] = rides["End date"] - rides["Start date"]
rides.head(3)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Duration
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,0 days 00:03:01
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,0 days 02:07:02
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member,0 days 00:05:43

+ rides adlı, Start date ve End date sütunlarındaki verileri, datetime tipinde olan veri setine **Duration** isimli yeni bir sütun oluşturduk. Bu sütunda, her satırdaki Start date ve End date değerleri arasında geçen süre bulunmakta.

In [10]:
print(rides["Duration"].dt.total_seconds())
ayrac()
rides["total_seconds"] = rides["Duration"].dt.total_seconds()
rides.head(3)

0       181.0
1      7622.0
2       343.0
3      1278.0
4      1277.0
        ...
285     651.0
286     625.0
287     279.0
288     210.0
289     610.0
Name: Duration, Length: 290, dtype: float64

*****

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Duration,total_seconds
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,0 days 00:03:01,181.0
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,0 days 02:07:02,7622.0
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member,0 days 00:05:43,343.0

+ Her satırdaki Start date ve End date değerleri arasında geçen süreyi **dt.total_seconds()** işlevi ile gösterdik ve bunu **total_seconds** adlı yeni bir sütun olarak oluşturduk

## < Summarizing Datetime Data in Pandas >

Bu bölümde, bir önceki bölümde oluşturduğumuz sütunlar üzerinden matematiksel işlemler yapacağız.

In [11]:
rides["Duration"].mean()

Timedelta('0 days 00:19:38.931034482')

+ **Duration** sütunundaki değerlerin ortalamasını aldık.

In [12]:
print(rides["Member type"].value_counts())
ayrac()
print(rides["Member type"].value_counts() / len(rides))

Member    236
Casual     54
Name: Member type, dtype: int64

*****

Member    0.813793
Casual    0.186207
Name: Member type, dtype: float64

+ **Member type** sütunundaki eşsiz değerleri ve bu sütundaki eşsiz değerlerde kaç tane veri olduğunu döndürdük. Bir altında ise bu eşsiz değerlerin yüzde kaçlık kısımları oluşturduğunu görebilmek için len(rides)'a böldük.

In [13]:
rides.groupby("Member type")["total_seconds"].mean()

Member type
Casual    1994.666667
Member     992.279661
Name: total_seconds, dtype: float64

+ **Member type** sütunundaki eşsiz değerlerin, **total_seconds** sütununda karşılık gelen değerlerinin ortalamasını aldık.

Aşağıdaki kod bloklarında, **resample()** işlevi ile, Start date sütunundaki Ay ("M") kısmına göre gruplayıp işlemler yapalım.

In [14]:
grouped = rides.groupby('Member type').resample("M", on = "Start date")

print(grouped["total_seconds"].median())

Member type  Start date
Casual       2017-10-31    1636.0
             2017-11-30    1159.5
             2017-12-31     850.0
Member       2017-10-31     671.0
             2017-11-30     655.0
             2017-12-31     387.5
Name: total_seconds, dtype: float64

In [15]:
monthly_rides = rides.resample('M', on = 'Start date')['Member type']

print(monthly_rides.value_counts() / monthly_rides.size())

Start date  Member type
2017-10-31  Member         0.768519
            Casual         0.231481
2017-11-30  Member         0.825243
            Casual         0.174757
2017-12-31  Member         0.860759
            Casual         0.139241
Name: Member type, dtype: float64